.expandingDiv {
    position: absolute;
    background-color: #DCF0EE;
    opacity: 0.99;
    z-index: 11;
    width: 0vw;
    border-radius: 1%;
    overflow: hidden;
    height: 0vh; 
    transition: width 0.4s ease-in-out, height 1.3s ease-in-out;
}

.expandingDiv.expanded {
    width: 40vw;
    height: 45vh;
}

.exit-button {
    position: absolute;
    border: none;
    width: 2%;
    height: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
}