.name {
    display: inline-block;
    margin: 10px 15px;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Playfair display'; 
    font-size: 3.6rem;
  }
  
  .name::after {
    content: '|';
    display: inline-block;
    animation: cursorBlink 1.5s infinite step-start;
  }
  
  @keyframes cursorBlink {
    50% {
      opacity: 0;
    }
  }