.outer-card-container {
    background-color: #0B1412;
    width: 100vw;
    height: 170vh;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #0B1412;
    width: auto;
    height: auto;
}

.custom-card {
    background-color: #F4F4E2 ;
    display: flex;
    flex-direction: column;
    border: 2px solid #F4F4E2;
    width: 375px; 
    margin-top: 25px;
    margin-left: 30px;
    height: 500px;
    box-shadow: 0 4px 8px #F4F4E2;
    border-radius: 10px;
}

.custom-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px #F4F4E2;
}

.image-container img {
    flex: 0;
    width: 100%;
    height: 220px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card-content-title {
    width: 100%;
    height: 50px; 

}

.card-content-description {
    width: 100%;
    height: 150px;

}

.card-content-button {
    height: 10px;
}

.card-content-skills {
    height: 10px;
    margin-top: 5px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .custom-card {
        width: 100%;
    }
}