.outer-card-container {
    background-color: #0B1412;
    width: 100vw;
    height: 100vh;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #0B1412;
    width: auto;
    height: auto;
}

.custom-card {
    background-color: #F4F4E2 ;
    display: flex;
    flex-direction: column;
    border: 2px solid #fff;
    width: 375px; 
    margin-top: 10px;
    margin-left: 15px;
    height: 425px;
}

.image-container {
    flex: 0;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card-content h3, 
.card-content p,
.card-content button,
.card-content .skill {
    margin: 5px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .custom-card {
        width: 100%;
    }
}