/*Styling for aboutPage and the avatars */
#about-outer-div {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  flex-wrap: wrap;
  flex-direction: row;
}

.avatar-div {
  display: flex;
  margin: 15px 0;
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  max-width: 400px;
  max-height: 400px;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.13s ease-in-out, transform 0.8s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
}

.avatar-div:hover {
  box-shadow: 0 0 65px 8px rgba(95, 153, 149, 0.5);
}

#avatar-david {
  transform: translateX(0) scale(1);
}

#avatar-david-clicked {
  transform: translateX(-200px) scale(0.5);
}

#avatar-brandon {
  transform: translateX(0) scale(1);
}

#avatar-brandon-clicked {
  transform: translateX(200px) scale(0.5);
}

.circular-avatar-image {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #000;
}
