.home-page {
  display: grid;
  justify-content:left;
  align-items: center;
  height: 87vh;
  background-color: #000;
  min-height: 87vh;
  padding-top: 13vh;
}

.content {
  margin-left: 100px;
  margin-bottom: 400px;
  max-width: 45vw;
  min-width: 30vw;
  z-index: 1;
  color: #b8b8b8;
}

h1 {
  color:#fff;
  font-size: 4.5rem;
  margin: 0;
  opacity: 0.9;
}

.home-paragraph {
  font-size: 2.0rem;
  line-height: 3rem;
}

p {
  margin: 6px 25px;
  padding: 6px 0;
}

#home-emphasis{
  color:#219EBC;
}